html {
    height: 100%;
  }

* {
  font-family: 'Prompt', sans-serif;
  font-style: normal;
}
  
  body {
    margin: 0px;
    height: 100%;
  }

  #map{
    height: 100%;
  }
  
  #root {
      height: 100%;
  }

  .Box {
    button{
      background-color: #00B2FF;
      border-radius: 15px;
    }

    .remove{
      background-color: #fff;
    }

    margin: 0.25rem;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: end;
    top: 18rem;
    right: 0.75rem;
}

.Box {
  button{
    background-color: #00B2FF;
    border-radius: 15px;
  }

  .infoIcon{
    background-color: #fff;
    bottom: 0;
  }

  margin: 0.25rem;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: end;
  top: 18rem;
  right: 0.75rem;
}

.Basemap {
  z-index: 12;
}

.Sat img {
  transition: transform 0.5s, filter 0.5s ease-in-out;
}

.Sat:hover img {
  transform: scale(1.1);
}

.Street img {
  transition: transform 0.5s, filter 0.5s ease-in-out;
}

.Street:hover img {
  transform: scale(1.1);
}



.thSvg {
  fill: #fff;
  transition: fill 0.3s ease;
  width: 25px;
  height: 25px;
}

.thSvg:hover {
  fill: #00B2FF;
  width: 25px;
  height: 25px;
}


.maplibregl-popup-close-button, 
.mapboxgl-popup-close-button {
  border-color: transparent!important;
  font-size: 40px!important;
  margin-top: -1rem!important;
  height: 0!important;
  width: auto!important;
}

.maplibregl-popup-close-button:hover {
  background-color: transparent !important;
}

.maplibregl-popup-content {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;

}

.maplibregl-popup-tip .mapboxgl-popup-tip {
  background-color: rgba(255, 255, 255, 0.9) !important;
  background-image: url('src/Icon/Marker_Animation.gif') !important;
}

#value{
  line-height: 0;
}









  




  