html {
    height: 100%;
  }
  
  body {
    margin: 0px;
    height: 100%;
  }

  #map{
    height: 100%;
  }
  
  #root {
      height: 100%;
  }

  .Box {
    button{
      background-color: #00B2FF;
      border-radius: 15px;
    }

    .remove{
      background-color: #fff;
    }

    margin: 0.25rem;

    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: end;
    top: 18rem;
    right: 0.75rem;
}

.Basemap{
  z-index: 12;
}

/* .sphere-popup_detail .maplibregl-popup-close-button, 
.mapboxgl-popup-close-button {
  background-image: url('./Icon/legend.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  border: none;
  outline: none;
} */


/* CSS */
/* .maplibregl-popup-close-button {
  background-image: url('./Icon/legend.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
}

.maplibregl-popup-close-button:focus {
  outline: none;
} */












  




  